
.border {                
  border: 3px solid #222;       
  border-radius: 12px;          
  font-family: system-ui, sans-serif;
  text-align: center;
  background-color: rgb(141, 213, 255);
}

h2 {
    font-family: system-ui, sans-serif;
}

.border1 {
  border: 3px solid #222;       
  border-radius: 20px;          
  text-align: center;
  background-color: rgb(141, 213, 255);
}

.border2 {
  padding: 15px 25px;               
  border: 3px solid #222;           
  border-radius: 20px;
  background-color: rgb(141, 213, 255);              
}

.border2 h2 {
  text-align: center;
}




